/*@font-face {
  font-family: 'CustomFont';

  src: url('/frontend/public/fonts/jost');
   src: url('fonts/Jost-100-Hairline.otf') format('truetype'),
          url('fonts/your-font-file.woff') format('woff'),
          url('fonts/your-font-file.woff2') format('woff2'); 
}*/

body {
	margin: 0; 
	padding: 0;
	/* font-family: 'CustomFont', jost; */
	font-family: monospace;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #E8E2D2;
	text-align: -webkit-center;
}

    /* Footer */
    footer {
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		/*background-color: #DD9488; */
		background: #dddddd;
		color: black;
		text-align: center;
		gap: 50px;  
		}
	
		p {
		font-size: 10px;
		}
	
		/* Linkedin */
		.svg-icon {
		  width: 30px;
		  height: 15px;
		  background-color: transparent;
		  border: none;
		  margin-right: 30px;
		  cursor: pointer;
		  fill: rgb(28, 27, 27);
		}
		.svg-icon:hover {
		  /*fill: var(--hover-); */
		  fill: #6A5871;
		}
		
		div.links2 {
		  display: flex;
		  flex-direction: row;
		  align-items: center;
		  justify-content: center;
		  gap: 50px;
		}
		
		a.link-icon {
		  text-decoration: none;
		  color: black;
		}	

		.digeo {
			font-size: 10px;
			font-weight: bold;
			color: black;
			text-decoration: none;
		}