/*@font-face {
  font-family: 'CustomFont';

  src: url('/frontend/public/fonts/jost');
   src: url('fonts/Jost-100-Hairline.otf') format('truetype'),
          url('fonts/your-font-file.woff') format('woff'),
          url('fonts/your-font-file.woff2') format('woff2'); 
}*/

body {
	margin: 0; 
	padding: 0;
	/* font-family: 'CustomFont', jost; */
	font-family: monospace;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #E8E2D2;
	text-align: -webkit-center;
}